<div class="my-3">
  <h2>Take</h2>
  <p>Take Last and Take Until</p>
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong>EX - 01 (take (5))</strong>
      <hr />
      <p *ngFor="let item of namesData">{{ item }}</p>
    </div>
    <div class="col-md-4">
      <strong>EX - 01 (take last (5))</strong>
      <hr />
      <p *ngFor="let item of namesData1">{{ item }}</p>
    </div>
    <div class="col-md-4">
      <strong>EX - 01 (take until [Condition] )</strong>
      <hr />
      <p *ngFor="let item of namesData2">{{ item }}</p>
    </div>
  </div>
</div>
