<div class="my-3">
  <h2>Retry</h2>
  <p>Retry Last and Retry Until</p>
  <br />
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tr>
          <th>Id</th>
          <th>{{ product }}</th>
        </tr>
        <tr>
          <th>Title</th>
          <th>{{ product }}</th>
        </tr>
        <tr>
          <th>Description</th>
          <th>{{ product }}</th>
        </tr>
        <tr>
          <th>Category</th>
          <th>{{ product }}</th>
        </tr>
        <tr>
          <th>Price</th>
          <th>{{ product }}</th>
        </tr>
      </table>
    </div>
  </div>
</div>
