<div class="my-3">
  <h4>custom-observable</h4>
  <br />
  <div class="row">
    <div class="col-md-6">
      <strong> Ex -01 (Manual)</strong>
      <hr />
      <ul class="techlist error">
        <li>Angular</li>
        <li>Typescript</li>
        <li>Html & Css</li>
      </ul>
    </div>
    <div class="col-md-6">
      <strong> Ex -02 (custom Interval observable</strong>
      <hr />
      <ul class="techlist complete">
        <li>Angular</li>
        <li>Typescript</li>
        <li>Html & Css</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br />
      <br />
      <p class="bg-light py-2 px-3 rounded">
        <strong> Random Names: </strong>
        'a','b','c','d','e','f'
      </p>
      <hr />
      <p>
        current Name : <strong class="text-success">{{ names }}</strong>
      </p>
      <span class="badge text-bg-success">Success</span>
    </div>
  </div>
</div>
