<div class="my-3">
  <h2>MergeMap</h2>
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong>Ex- 01 | Map</strong>
      <hr />
      <p>
        <strong>Video List: </strong>
        ["Tech","Comedy","News"]
      </p>
      <hr />
      <ul *ngFor="let item of data1">
        <li>{{ item }}</li>
      </ul>
      <br />
    </div>
    <div class="col-md-4">
      <strong>Ex - 02 | MergeAll</strong>
      <hr />
      <p>
        <strong>Video List:</strong>
        ["Tech","Comedy","News"]
      </p>
      <hr />
      <ul *ngFor="let item of data2">
        <li>{{ item }}</li>
      </ul>
      <br />
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | mergeMap</strong>
      <hr />
      <p>
        <strong>Video List:</strong>
        ["Tech","Comedy","News"]
      </p>
      <hr />
      <ul *ngFor="let item of data3">
        <li>{{ item }}</li>
      </ul>
    </div>
  </div>
</div>
