<div class="my-3">
  <h2>Pluck</h2>
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong> Ex - 01</strong>
      <hr />
      <p>
        <strong>Pluck</strong>
        Pluck Data => Video + data
      </p>
      <br />
      <p *ngFor="let item of userData">{{ item }}</p>
    </div>
    <div class="col-md-4">
      <strong> Ex - 02 Nested</strong>
      <hr />
      <p>
        <strong>Pluck</strong>
        Pluck Data
      </p>
      <br />
      <p *ngFor="let item of userData2">{{ item }}</p>
    </div>
    <div class="col-md-4">
      <strong> Ex - 03</strong>
      <hr />
      <p>
        <strong>Pluck</strong>
        Pluck Data
      </p>
      <br />
      <p>data comming here...</p>
    </div>
  </div>
</div>
