<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li>
        <a routerLink="form-event">Form Event</a>
      </li>
      <li>
        <a routerLink="interval">Interval</a>
      </li>
      <li>
        <a routerLink="to-array">to Array</a>
      </li>
      <li>
        <a routerLink="cust-obs">Custom Obs</a>
      </li>
      <li>
        <a routerLink="map">map</a>
      </li>
      <li>
        <a routerLink="pluck">Pluck</a>
      </li>
      <li>
        <a routerLink="filter">filter</a>
      </li>
      <li>
        <a routerLink="tap">tap</a>
      </li>
      <li>
        <a routerLink="take">take</a>
      </li>
      <li>
        <a routerLink="retry">retry</a>
      </li>
      <li>
        <a routerLink="dt">Debounce & Distinct Changed</a>
      </li>
      <li>
        <a routerLink="subject">Subject & Behaviour Subject</a>
      </li>
    </ul>
  </div>
</div>
